openapi: 3.0.0
info:
  title: SugarCRM - Freelance Portal
  description: >-
    Discover Custom APIs for SugarCRM, designed specifically for an
    Angular-based Freelance Portal. These APIs provide easy integration and
    essential features to enhance portal's performance. They are perfect for
    simplifying Inventory management, movement of inventory, improving client
    interactions, and managing data efficiently. Elevate freelance platform with
    these straightforward and reliable SugarCRM solutions (APIs).
  version: 1.0.0
servers:
  - url: https://staging5.rolustech.com:4216
paths:
  /rest/v11_20/customPortalApi/customToken:
    post:
      tags:
        - default
      summary: Custom Token - User Authentication
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                email: mahnoor.mushtaq@rolustech.net
                password: Test@123
                client_id: sugar
                grant_type: password
                module: avid_personnels
      parameters:
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json, text/plain, */*
        - name: Accept-Language
          in: header
          schema:
            type: number
          example: en-US,en;q=0.9
        - name: Connection
          in: header
          schema:
            type: string
          example: keep-alive
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: Origin
          in: header
          schema:
            type: string
          example: https://dev.freelance.panavid.com
        - name: Referer
          in: header
          schema:
            type: string
          example: https://dev.freelance.panavid.com/
        - name: Sec-Fetch-Dest
          in: header
          schema:
            type: string
          example: empty
        - name: Sec-Fetch-Mode
          in: header
          schema:
            type: string
          example: cors
        - name: Sec-Fetch-Site
          in: header
          schema:
            type: string
          example: cross-site
        - name: User-Agent
          in: header
          schema:
            type: number
          example: >-
            Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like
            Gecko) Chrome/117.0.0.0 Safari/537.36
        - name: sec-ch-ua
          in: header
          schema:
            type: string
          example: '"Google Chrome";v="117", "Not;A=Brand";v="8", "Chromium";v="117"'
        - name: sec-ch-ua-mobile
          in: header
          schema:
            type: string
          example: '?0'
        - name: sec-ch-ua-platform
          in: header
          schema:
            type: string
          example: '"Linux"'
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /rest/v11_20/customPortalApi/validateToken:
    get:
      tags:
        - default
      summary: Validate Token
      parameters:
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json, text/plain, */*
        - name: Connection
          in: header
          schema:
            type: string
          example: keep-alive
        - name: Origin
          in: header
          schema:
            type: string
          example: https://dev.freelance.panavid.com
        - name: Referer
          in: header
          schema:
            type: string
          example: https://dev.freelance.panavid.com/
        - name: Sec-Fetch-Dest
          in: header
          schema:
            type: string
          example: empty
        - name: Sec-Fetch-Mode
          in: header
          schema:
            type: string
          example: cors
        - name: Sec-Fetch-Site
          in: header
          schema:
            type: string
          example: cross-site
        - name: oauth_token
          in: header
          schema:
            type: string
          example: 7095e5c775a42f94b7ef6c80ab3b0a0860f15fec
        - name: sec-ch-ua
          in: header
          schema:
            type: string
          example: '"Google Chrome";v="117", "Not;A=Brand";v="8", "Chromium";v="117"'
        - name: sec-ch-ua-mobile
          in: header
          schema:
            type: string
          example: '?0'
        - name: sec-ch-ua-platform
          in: header
          schema:
            type: string
          example: '"Linux"'
        - name: token
          in: query
          schema:
            type: string
          example: 7095e5c775a42f94b7ef6c80ab3b0a0860f15fec
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /rest/v11_20/customPortalApi/getCrewKanban:
    get:
      tags:
        - default
      summary: Get Crew Kanban
      parameters:
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json, text/plain, */*
        - name: Accept-Language
          in: header
          schema:
            type: number
          example: en-US,en;q=0.9
        - name: Connection
          in: header
          schema:
            type: string
          example: keep-alive
        - name: Origin
          in: header
          schema:
            type: string
          example: https://dev.freelance.panavid.com
        - name: Referer
          in: header
          schema:
            type: string
          example: https://dev.freelance.panavid.com/
        - name: Sec-Fetch-Dest
          in: header
          schema:
            type: string
          example: empty
        - name: Sec-Fetch-Mode
          in: header
          schema:
            type: string
          example: cors
        - name: Sec-Fetch-Site
          in: header
          schema:
            type: string
          example: cross-site
        - name: User-Agent
          in: header
          schema:
            type: number
          example: >-
            Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like
            Gecko) Chrome/117.0.0.0 Safari/537.36
        - name: oauth_token
          in: header
          schema:
            type: string
          example: 7095e5c775a42f94b7ef6c80ab3b0a0860f15fec
        - name: sec-ch-ua
          in: header
          schema:
            type: string
          example: '"Google Chrome";v="117", "Not;A=Brand";v="8", "Chromium";v="117"'
        - name: sec-ch-ua-mobile
          in: header
          schema:
            type: string
          example: '?0'
        - name: sec-ch-ua-platform
          in: header
          schema:
            type: string
          example: '"Linux"'
        - name: showNoLoader
          in: header
          schema:
            type: boolean
          example: 'false'
        - name: freelancer_id
          in: query
          schema:
            type: string
          example: 2e457974-22e6-11ee-8c88-063e0497cfd0
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /rest/v11_20/customPortalApi/executeDefaultApi:
    post:
      tags:
        - default
      summary: Get History - Default Call
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                url: v11_20/lm_equipment_history
                reqType: GET
                body:
                  max_num: 10
                  offset: 0
                  fields:
                    - id
                    - name
                    - date_entered
                    - moved_by_name
                    - moved_by_id
                    - moved_by_type
                    - source_state
                    - source_location_type
                    - source_location_name
                    - source_location_id
                    - target_location_type
                    - target_location_name
                    - target_location_id
                    - target_state
                    - quantity
                    - pt_inventory_name
                    - pt_inventory_id
                    - quote_name
                    - quote_id
                    - dest_compartment_id
                    - dest_compartment_name
                    - source_compartment_id
                    - source_compartment_name
                  filter:
                    - pt_inventory_id:
                        $in:
                          - a2e328b2-8a97-11ee-be45-7eaf0250dbd1
      parameters:
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json, text/plain, */*
        - name: Accept-Language
          in: header
          schema:
            type: number
          example: en-US,en;q=0.9
        - name: Connection
          in: header
          schema:
            type: string
          example: keep-alive
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: Origin
          in: header
          schema:
            type: string
          example: https://dev.freelance.panavid.com
        - name: Referer
          in: header
          schema:
            type: string
          example: https://dev.freelance.panavid.com/
        - name: Sec-Fetch-Dest
          in: header
          schema:
            type: string
          example: empty
        - name: Sec-Fetch-Mode
          in: header
          schema:
            type: string
          example: cors
        - name: Sec-Fetch-Site
          in: header
          schema:
            type: string
          example: cross-site
        - name: User-Agent
          in: header
          schema:
            type: number
          example: >-
            Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like
            Gecko) Chrome/117.0.0.0 Safari/537.36
        - name: oauth_token
          in: header
          schema:
            type: string
          example: 7095e5c775a42f94b7ef6c80ab3b0a0860f15fec
        - name: sec-ch-ua
          in: header
          schema:
            type: string
          example: '"Google Chrome";v="117", "Not;A=Brand";v="8", "Chromium";v="117"'
        - name: sec-ch-ua-mobile
          in: header
          schema:
            type: string
          example: '?0'
        - name: sec-ch-ua-platform
          in: header
          schema:
            type: string
          example: '"Linux"'
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}

